            body {
                background-color: rgb(236, 234, 243)
            }
            
            img {
                height: 80px;
            }
            
            .heading {
                background-color: rgb(226, 223, 223);
                animation-name: example;
                animation-duration: 5s;
            }
            
            table {
                background-color: rgb(119, 131, 111);
            }
            
            .example {
                background-color: whitesmoke;
            }
            
            @keyframes example {
                from {
                    background-color: whitesmoke;
                }
                to {
                    background-color: seagreen;
                }
            }
            
            .satyam {
                background-color: rgb(0, 0, 0);
            }
            
            a:link {
                color: springgreen;
                background-color: transparent;
                text-decoration: none;
            }
            
            .example:hover {
                color: rgb(0, 89, 255);
                background-color: transparent;
                text-decoration: underline;
            }
            
            a:visited {
                color: purple;
                background-color: transparent;
                text-decoration: none;
            }
            
            a:active {
                color: yellow;
                background-color: transparent;
                text-decoration: none;
            }